/* Footer design */
.footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-icon:hover {
  color:yellow;
  transition: 0.5s;
}

.wrapper-footer {
  color:#CCCCCC;
  background-color: #333333;
  background-size: cover;
  padding: 20px 0;
}
