/* Footer design */
.footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-icon:hover {
  color:$yellow;
  transition: 0.5s;
}

.wrapper-footer {
  color: $grey;
  background-color: $darkgrey;
  background-size: cover;
  padding: 20px 0;
}
